<li id="<%= device.id %>" class="device">
  <ul class="row">
    <li class="value"><%= device.label %></li>
    <li class="value"><%= device.friendly_id %></li>
    <li class="value"><%= device.mac_address %></li>
    <li class="value"><%= device.refresh_rate %></li>
    <li class="actions">
      <a href="/devices/<%= device.id %>/edit"
         hx-get="/devices/<%= device.id %>/edit"
         hx-target="closest .device"
         hx-swap="outerHTML">
        Edit
      </a>

      <a href="/devices"
         class="link-cancel"
         hx-delete="/devices/<%= device.id %>"
         hx-target="closest .device"
         hx-swap="outerHTML">
        Delete
      </a>
    </li>
  </ul>
</li>
