<li id="<%= device.id %>" class="device">
  <figure class="screen">
    <%= render :image, uri: device.image_uri %>
  </figure>

  <h2 class="label"><%= device.label %></h2>

  <%= render "measurements", device: %>

  <div class="actions">
    <%= link_to "View", routes.path(:device, id: device.id) %>
    <%= link_to "Logs", routes.path(:device_logs, device_id: device.id) %>
    <%= render "edit_link", device: %>

    <a href="<%= routes.path :device, id: device.id %>"
       class="link-cancel"
       hx-delete="<%= routes.path :device, id: device.id %>"
       hx-confirm="Are you sure you want to delete this device?"
       hx-target="closest .device"
       hx-swap="outerHTML">
      Delete
    </a>
  </div>
</li>
