<li id="<%= device.id %>" class="device">
  <%= render :image, uri: device.image_uri %>

  <h2 class="label"><%= device.label %></h2>

  <%= render "measurements", device: %>

  <div class="actions">
    <%= link_to "View", "/devices/#{device.id}" %>
    <%= link_to "Logs", "/devices/#{device.id}/logs" %>
    <%= render "edit_link", device: %>
    <%= render "delete_link", device: %>
  </div>
</li>
