<li id="<%= device.id %>" class="device">
  <%= render :image, uri: device.image_uri %>

  <h2 class="label"><%= device.label %></h2>

  <%= render "measurements", device: %>

  <div class="actions">
    <%= link_to "View", "/devices/#{device.id}" %>
    <%= link_to "Logs", "/devices/#{device.id}/logs" %>
    <%= render "edit_link", device: %>

    <a href="/devices"
       class="link-cancel"
       hx-delete="/devices/<%= device.id %>"
       hx-confirm="Are you sure you want to delete this device?"
       hx-target="closest .device"
       hx-swap="outerHTML">
      Delete
    </a>
  </div>
</li>
