<fieldset role="group" class="group">
  <%= scope(:form_field, key: :label, errors:).render do %>
    <label class="key" for="device[label]">Label</label>

    <%= tag.input name: "device[label]",
                  value: field_for(:label, fields, device),
                  class: :value,
                  autocomplete: :label %>
  <% end %>

  <%= scope(:form_field, key: :friendly_id, errors:).render do %>
    <label class="key" for="device[friendly_id]">
      Friendly ID
      <%= render "shared/popovers/trigger", name: "friendly_id" %>
    </label>

    <%= tag.input name: "device[friendly_id]",
                  value: field_for(:friendly_id, fields, device),
                  class: :value,
                  autocomplete: :friendly_id %>
  <% end %>

  <%= scope(:form_field, key: :mac_address, errors:).render do %>
    <label class="key" for="device[mac_address]">
      MAC Address
      <%= render "shared/popovers/trigger", name: "mac_address" %>
    </label>

    <%= tag.input name: "device[mac_address]",
                  type: :password,
                  value: field_for(:mac_address, fields, device),
                  class: :value %>
  <% end %>

  <%= scope(:form_field, key: :api_key, errors:).render do %>
    <label class="key" for="device[api_key]">
      API Key
      <%= render "shared/popovers/trigger", name: "api_key" %>
    </label>

    <%= tag.input name: "device[api_key]",
                  type: :password,
                  value: field_for(:api_key, fields, device),
                  class: :value %>

  <% end %>

  <%= scope(:form_field, key: :refresh_rate, errors:).render do %>
    <label class="key" for="device[refresh_rate]">
      Refresh Rate
      <%= render "shared/popovers/trigger", name: "refresh_rate" %>
    </label>

    <%= tag.input name: "device[refresh_rate]",
                  type: :number,
                  value: field_for(:refresh_rate, fields, device),
                  class: :value,
                  min: 20 %>
  <% end %>

  <%= scope(:form_field, key: :image_timeout, errors:).render do %>
    <label class="key" for="device[image_timeout]">
      Image Timeout
      <%= render "shared/popovers/trigger", name: "image_timeout" %>
    </label>

    <%= tag.input name: "device[image_timeout]",
                  type: :number,
                  value: field_for(:image_timeout, fields, device),
                  class: :value,
                  min: 0 %>
  <% end %>

  <%= scope(:form_field, key: :firmware_update, errors:).render do %>
    <label class="key" for="device[firmware_update]">
      Firmware Update
      <%= render "shared/popovers/trigger", name: "firmware_update" %>
    </label>

    <%= tag.input name: "device[firmware_update]",
                  type: :checkbox,
                  checked: field_for(:firmware_update, fields, device),
                  switch: true,
                  class: :checkbox %>
  <% end %>

  <%= scope(:form_field, key: :proxy, errors:).render do %>
    <label class="key" for="device[proxy]">
      Proxy
      <%= render "shared/popovers/trigger", name: "proxy" %>
    </label>

    <%= tag.input name: "device[proxy]",
                  type: :checkbox,
                  checked: field_for(:proxy, fields, device),
                  switch: true,
                  class: :checkbox %>
  <% end %>
</fieldset>

<%= render "popovers/friendly_id_content" %>
<%= render "popovers/mac_address_content" %>
<%= render "popovers/api_key_content" %>
<%= render "popovers/firmware_update_content" %>
<%= render "popovers/proxy_content" %>
<%= render "popovers/refresh_rate_content" %>
<%= render "popovers/image_timeout_content" %>
