<% content_for :title, "Device #{device.label} Edit | Terminus" %>

<section class="page-devices">
  <header class="page-header">
    <ul class="site-breadcrumbs">
      <li class="breadcrumb"><a href="/devices" class="link">Devices</a></li>
      <li class="breadcrumb"><%= device.label %> Edit</li>
    </ul>
  </header>

  <div class="page-body">
    <figure class="site-figure site-figure-device">
      <%= render :image, uri: device.image_uri %>
    </figure>

    <form action="/devices" method="put" class="page-form">
      <%= render :fields, device:, fields: fields.value, errors: %>

      <div class="form-actions">
        <%= render "save_button", verb: :put, path: "/devices/#{device.id}" %>

        <a href="<%= routes.path :device_show, id: device.id %>"
           class="decline"
           hx-get="<%= routes.path :device_show, id: device.id %>"
           hx-trigger="click"
           hx-target="closest .page-devices"
           hx-swap="outerHTML"
           hx-push-url="true">
           Cancel
        </a>
      </div>
    </form>
  </div>
</section>
