<% content_for :title, "Device #{device.label} Edit | Terminus" %>

<section class="page-devices">
  <header class="page-header">
    <ul class="site-breadcrumbs">
      <li class="breadcrumb"><%= link_to "Devices", routes.path(:devices), class: :link %></li>
      <li class="breadcrumb"><%= link_to device.label, "/devices/#{device.id}", class: :link %></li>
      <li class="breadcrumb">Edit</li>
    </ul>
  </header>

  <div class="page-body">
    <div class="device">
      <figure class="screen">
        <%= render :image, uri: device.image_uri %>
      </figure>

      <%= render "measurements", device: %>

      <form action="/devices" method="put" class="page-form">
        <%= render :fields, models:, device:, fields: fields.value, errors: %>

        <div class="form-actions">
          <%= render "save_button", verb: :put, path: "/devices/#{device.id}" %>

          <a href="<%= routes.path :device, id: device.id %>"
             class="button-decline"
             hx-get="<%= routes.path :device, id: device.id %>"
             hx-trigger="click"
             hx-target="closest .page-devices"
             hx-swap="outerHTML"
             hx-push-url="true">
             Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
