<li class="device">
  <form action="/devices" method="post" class="pico form">
    <fieldset role="group">
      <input name="device[label]"
             value="<%= device.label %>"
             placeholder="Label"
             autocomplete="label">

      <input name="device[friendly_id]" value="<%= device.friendly_id %>" disabled>

      <input name="device[mac_address]"
             value="<%= device.mac_address %>"
             placeholder="MAC Address"
             autocomplete="mac">

      <input name="device[refresh_rate]"
             value="<%= device.refresh_rate %>"
             placeholder="Refresh Rate"
             autocomplete="refresh_rate">

      <input type="submit"
             value="Save"
             hx-put="/devices/<%= device.id %>"
             hx-trigger="click"
             hx-target="closest .device"
             hx-swap="outerHTML swap:0s">

      <input type="button"
             value="Cancel"
             hx-get="/devices/<%= device.id %>"
             hx-trigger="click"
             hx-target="closest .device"
             hx-swap="outerHTML swap:0s">
    </fieldset>

    <% if errors.any? %>
      <ul class="form-errors">
        <% errors.each do |attribute, message| %>
          <li><%= "#{attribute} #{message.first}" %></li>
        <% end %>
      </ul>
    <% end %>
  </form>
</li>
