<% content_for :title, "Devices | Terminus" %>

<section class="page-devices">
  <header class="page-header">
    <h1 class="label">
      Devices

      <button class="popover-trigger" popovertarget="popover-shortcuts">
        <%= image_tag "icons/info.svg", width: 20, height: 20, loading: :lazy %>
      </button>
    </h1>

    <dialog id="popover-shortcuts" class="popover-content" popover="auto">
      <button class="close" popovertarget="popover-shortcuts" popovertargetaction="hide">
        <span aria-hidden=true>❌</span>
        <span class="screen_reader">Close</span>
      </button>

      <h3 class="label">Overview</h3>

      <p>These are you devices, both physical and virtual, managed by this server.</p>

      <h3 class="label">Search</h3>

      <p>You can fuzzy search by device label using partial or full label.</p>

      <h3 class="label">Keyboard Shortcuts</h3>

      <ul>
        <li><kbd>CONTROL + n</kbd>: New device.</li>
        <li><kbd>CONTROL + s</kbd>: Save device (when within form).</li>
      </ul>

    </dialog>

    <div class="actions">
      <%= render :search, query: %>

      <a href="<%= routes.path :device_new %>"
         class="button-accept"
         hx-get="<%= routes.path :device_new %>"
         hx-trigger="click, keyup[ctrlKey&&key=='n'] from:body"
         hx-target="closest .page-devices"
         hx-swap="outerHTML"
         hx-push-url="true">
        New
      </a>
    </div>
  </header>

  <% if devices.any? %>
    <ul class="devices">
      <% devices.each do |device| %>
        <%= device.render :device %>
      <% end %>
    </ul>
  <% else %>
    <div class="devices">
      <%= render "shared/empty", message: "No devices found." %>
    </div>
  <% end %>
</section>
