<% content_for :title, "#{device.label} Device | Terminus" %>

<section class="page-devices">
  <header class="page-header">
    <ul class="site-breadcrumbs">
      <li class="breadcrumb"><a href="/devices" class="link">Devices</a></li>
      <li class="breadcrumb"><%= device.label %></li>
    </ul>
  </header>

  <div class="page-body">
    <div class="device">
      <figure class="screen">
        <%= render :image, uri: device.image_uri %>
      </figure>

      <h2 class="label"><%= device.label %></h2>

      <%= render "measurements", device: %>

      <div class="page-actions">
        <%= link_to "Devices", routes.path(:devices) %>
        <%= render "edit_link", device: %>
        <%= link_to "Logs", routes.path(:device_logs, device_id: device.id) %>
      </div>

      <dl class="site-definition-list">
        <dt class="key">
          Model
          <%= render "shared/popovers/trigger", name: :model %>
        </dt>
        <dd class="value"><%= device.model ? device.model.label : nil %></dd>

        <dt class="key">
          Friendly ID
          <%= render "shared/popovers/trigger", name: :friendly_id %>
        </dt>
        <dd class="value"><%= device.friendly_id %></dd>

        <dt class="key">
          MAC Address
          <%= render "shared/popovers/trigger", name: :mac_address %>
        </dt>
        <dd class="value site-secret"><%= device.mac_address %></dd>

        <dt class="key">
          API Key
          <%= render "shared/popovers/trigger", name: :api_key %>
        </dt>
        <dd class="value site-secret"><%= device.api_key %></dd>

        <dt class="key">
          Refresh Rate
          <%= render "shared/popovers/trigger", name: :refresh_rate %>
        </dt>
        <dd class="value"><%= device.refresh_rate %></dd>

        <dt class="key">
          Image Timeout
          <%= render "shared/popovers/trigger", name: :image_timeout %>
        </dt>
        <dd class="value"><%= device.image_timeout %></dd>

        <dt class="key">Dimensions</dt>
        <dd class="value"><%= device.dimensions %></dd>

        <dt class="key">Firmware</dt>
        <dd class="value"><%= device.firmware_version %></dd>

        <dt class="key">
          Firmware Update
          <%= render "shared/popovers/trigger", name: :firmware_update %>
        </dt>
        <dd class="value"><%= boolean device.firmware_update %></dd>

        <dt class="key">
          Firmware Beta
          <%= render "shared/popovers/trigger", name: :firmware_beta %>
        </dt>
        <dd class="value"><%= boolean device.firmware_beta %></dd>

        <dt class="key">
          Proxy
          <%= render "shared/popovers/trigger", name: :proxy %>
        </dt>
        <dd class="value"><%= boolean device.proxy %></dd>

        <dt class="key">
          Sleep Start
          <%= render "shared/popovers/trigger", name: :sleep_start %>
        </dt>
        <dd class="value"><%= human_time device.sleep_start_at %></dd>

        <dt class="key">
          Sleep Stop
          <%= render "shared/popovers/trigger", name: :sleep_stop %>
        </dt>
        <dd class="value"><%= human_time device.sleep_stop_at %></dd>

        <dt class="key">Created</dt>
        <dd class="value"><%= human_at device.created_at %></dd>

        <dt class="key">Updated</dt>
        <dd class="value"><%= human_at device.updated_at %></dd>
      </dl>
    </div>
  </div>
</section>

<%= render "popovers/all" %>
