<nav class="navigation">
  <ul class="list">
    <li>
      <a href="https://usetrmnl.com" class="link">
        <%= tag.img src: assets["logo/salmon.svg"], alt: "Logo", width: 30, height: 30 %>
      </a>
    </li>
    <li><a href="/" class="link link-home">Terminus</a></li>
  </ul>

  <ul class="list">
    <li><%= link_to "Dashboard", routes.path(:root), class: :link %></li>
    <li><%= link_to "Playlists", routes.path(:playlists), class: :link %></li>
    <li><%= link_to "Devices", routes.path(:devices), class: :link %></li>
    <li><%= link_to "Designer", routes.path(:designer), class: :link %></li>
    <li><%= link_to "Firmware", routes.path(:firmware), class: :link %></li>
  </ul>
</nav>
