<% content_for :title, "Dashboard | Terminus" %>

<section class="page-dashboard">
  <header class="page-header">
    <h1 class="label">Dashboard</h1>
  </header>

  <div class="widgets">
    <fieldset class="box">
      <legend class="label">
        Devices
        <button id="devices-help" class="popover-trigger" popovertarget="popover-devices">
          <%= image_tag "icons/info.svg", width: 15, height: 15, loading: :lazy %>
        </button>
      </legend>

      <ul class="devices">
        <% devices.each do |device| %>
          <li class="device">
            <%= link_to(device.label, routes.path(:device, id: device.id)) %>
            <%= render "devices/measurements", device: %>
          </li>
        <% end %>
      </ul>
    </fieldset>

    <dialog id="popover-devices" class="popover-content" popover="auto">
      <button class="close" popovertarget="popover-devices" popovertargetaction="hide">
        <span aria-hidden=true>❌</span>
        <span class="screen_reader">Close</span>
      </button>

      <h3 class="label">Devices</h3>

      <p>These are your currently registered devices.</p>
    </dialog>

    <fieldset class="box">
      <legend class="label">
        IP Addresses
        <button class="popover-trigger" popovertarget="popover-ip-addresses">
          <%= image_tag "icons/info.svg", width: 15, height: 15, loading: :lazy %>
        </button>
      </legend>

      <ul class="list">
        <% ip_addresses.each do |ip| %>
          <%= tag.li ip.address_with_kind, class: "site-secret" %>
        <% end %>

        <li class="site-secret"><%= api_uri %> (API)</li>
      </ul>
    </fieldset>

    <dialog id="popover-ip-addresses" class="popover-content" popover="auto">
      <button class="close" popovertarget="popover-ip-addresses" popovertargetaction="hide">
        <span aria-hidden=true>❌</span>
        <span class="screen_reader">Close</span>
      </button>

      <h3 class="label">IP Addresses</h3>

      <p>These are the Internet Protocol (IP) addresses of this server which are provided for convenience and debugging purposes. Use the API address to connect all devices to this server since this is the value defined by your <code>API_URI</code> environment variable.</p>

      <p>💡 Prefer wired over wireless since the former is likely not to change as much.</p>
    </dialog>

    <fieldset class="box">
      <legend class="label">
        Firmware
        <button class="popover-trigger" popovertarget="popover-firmware">
          <%= image_tag "icons/info.svg", width: 15, height: 15, loading: :lazy %>
        </button>
      </legend>

      <ul class="list">
        <% firmwares.each do |record| %>
          <li>
            <%= link_to record.version, record.attachment_uri, download: record.attachment_name %> (<%= size record.attachment_size %>)
          </li>
        <% end %>
      </ul>
    </fieldset>

    <dialog id="popover-firmware" class="popover-content" popover="auto">
      <button class="close" popovertarget="popover-firmware" popovertargetaction="hide">
        <span aria-hidden=true>❌</span>
        <span class="screen_reader">Close</span>
      </button>

      <h3 class="label">Firmware</h3>

      <p>Displays recently downloaded firmware versions in descending order with the latest version listed first. New versions will appear once the firmware poller (background process) detects them.</p>
    </dialog>
  </div>
</section>
