<% content_for :title, "#{device.label} Logs | Terminus" %>

<section class="page-devices">
  <header class="page-header">
    <ul class="site-breadcrumbs">
      <li class="breadcrumb"><a href="/devices" class="link">Devices</a></li>
      <li class="breadcrumb"><%= link_to device.label, "/devices/#{device.id}", class: :link %></li>
      <li class="breadcrumb">Logs</li>
    </ul>

    <div class="actions">
      <%= render :search, device:, query: %>

      <a href="/bulk/devices/<%= device.id %>/logs"
         class="button-danger"
         hx-delete="/bulk/devices/<%= device.id %>/logs"
         hx-confirm="Are you sure you want to delete all logs for this device?"
         hx-target=".site-container"
         hx-swap="swap:0.5s">
        Delete All
      </a>
    </div>
  </header>

  <div class="site-container">
    <% if logs.any? %>
      <table class="site-table">
        <thead>
          <tr>
            <th>Created</th>
            <th>ID</th>
            <th>Message</th>
            <th>Refresh Rate</th>
            <th>Retries</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% logs.each do |log| %>
            <%= log.render :log, device: %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= render "shared/empty", message: "No logs found." %>
    <% end %>
  </div>
</section>
