<% render "shared/title", text: "Mirror #{playlist.label} Playlist" %>

<section class="page-playlists">
  <header class="page-header">
    <ul class="site-breadcrumbs">
      <li class="breadcrumb"><a href="/playlists" class="link">Playlists</a></li>
      <li class="breadcrumb">
        <a href="<%= routes.path :playlist, id: playlist.id %>" class="link">
          <%= playlist.label %>
        </a>
      </li>
      <li class="breadcrumb">Mirror</li>
    </ul>
  </header>

  <div class="page-body">
    <div class="playlists">
      <form action="<%= routes.path :playlist_mirror_update, id: playlist.id %>"
            method="put"
            class="playlist page-form">

        <h1 class="label">Mirror <%= playlist.label %></h1>

        <p class="description">
          Check (or uncheck) the devices you'd like this playlist mirrored too.
        </p>

        <fieldset role="group" class="group">
          <% devices.each do |device| %>
            <%= render :device, device:, playlist_id: playlist.id %>
          <% end %>
        </fieldset>

        <div class="form-actions">
          <%= render "playlists/save_button",
                     verb: :put,
                     path: routes.path(:playlist_mirror_update, id: playlist.id) %>
          <%= link_to "Cancel", routes.path(:playlist, id: playlist.id), class: "button-decline" %>
        </div>
      </form>
    </div>
  </div>
</section>
